<div class="container" ng-if="cart.items.length">
    <div class="text-xs-center">
        <a ui-sref="home" class="small nav-buttons"><span class="lnr lnr-arrow-left"></span> Back to shopping</a>
    </div>
    <hr>
    <section id="carts">
        <h6 class="cart-header"><span class="lnr lnr-cart"></span> Your Shopping Cart</h6>
        <div class="media" ng-repeat="pr in cart.items">
            <div class="media-left">
                <img class="media-object" ng-src="{{ pr.images }}">
            </div>
            <div class="media-body">
                <a href="" title="{{ pr.name }}"><small class="media-heading" ng-bind="pr.name"></small></a>
                <ul class="list-inline cart-item-info">
                    <li class="list-inline-item small hidden-xs-down">
                        <label class="text-muted">Retail Price</label>
                        <span ng-bind="pr.retail_price | currency:pr.symbol"></span>
                    </li>
                    <li class="list-inline-item small hidden-xs-down" ng-if="pr.discount_rate">
                        <label class="text-muted">Discount</label>
                        <span ng-bind="pr.discount_rate"></span>%
                    </li>
                    <li class="list-inline-item small text-xs-center">
                        <label class="text-muted">Qty</label>
                        <a ng-class="{ disabled: pr.qty == 1 }" ng-click="cart.qtymod(pr)"><span class="lnr lnr-circle-minus"></span></a>
                        <span ng-bind="pr.qty"></span>
                        <a ng-click="cart.qtymod(pr, true)"><span class="lnr lnr-plus-circle"></span></a>
                    </li>
                </ul>
                <div class="cart-item-linetotal">
                    <label class="text-muted">Subtotal</label>
                    <strong ng-bind="pr.linetotal | currency:pr.symbol"></strong>
                </div>
                <a ng-click="cart.removeItem(pr)" class="cart-item-remove lnr lnr-cross text-danger"></a>
            </div>
        </div>
        <div class="cart-footer">
            <section class="cart-total text-xs-center">
                <h5>Total: <span ng-bind="cart.total | currency:'RM'"></span></h5>
            </section>
            <section class="cart-promo-input">
                <div class="row">
                    <fieldset class="form-group col-md-6">
                        <label>Promo Code (Optional)</label>
                        <input class="form-control form-control-sm" placeholder="Promotional Code" ng-model="cart.data.promo_code">
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <label>Shipping Country</label>
                        <select class="c-select form-control-sm" ng-model="cart.data.shipping_country" ng-init="cart.data.shipping_country = '1'">
                            <option value="1">Malaysia</option>
                            <option value="2">Singapore</option>
                            <option value="3">Brunei</option>
                        </select>
                    </fieldset>
                </div>
            </section>
            <section class="cart-action text-xs-center">
                <a ng-click="cart.checkout()" class="btn btn-primary btn-sm">Checkout <span class="lnr lnr-arrow-right"></span></a>
            </section>
        </div>
    </section>
</div>
<div ng-if="!cart.items.length" class="empty">
    <h4>Your cart is empty.</h4>
    <a ui-sref="home">Go Shopping</a>
</div>