<!DOCTYPE html>
<html ng-app="hermo">
<head>
    <title>Hermo Challenge</title>

    <link rel="stylesheet" type="text/css" href="/static/css/hermo.css">

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>

    <script src="/app/app.module.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/banner/banner.js"></script>
    <script src="/app/products/products.js"></script>
    <script src="/app/cart/cart.js"></script>
</head>
<body>
    <section id="banner" ui-view="banner"></section>
    <div class="container" ng-controller="cartController as cart">
        <section id="products" ui-view="products"></section>
        <div id="cart-overview" title="Checkout" ng-click="$state.go('cart')">
            <span class="lnr lnr-cart"></span>
            <span ng-bind="cart.items.length || 0"></span> product<span ng-if="cart.items.length > 1">s</span> @
            <span ng-bind="cart.total | currency:'RM' || 0"></span>
            <span class="lnr lnr-arrow-right"></span>
        </div>
    </div>
</body>
</html>